* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.page-head {
  padding: 530px 0 150px 0;
}

.page-head-bg {
  background: url("../img/bgr-img.png");
  background-size: cover;
}

.page-head-title {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 59px;
  color: #fff;
}

.page-head-subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 22px;
}

.yellow-text {
  color: #f48e0b;
}

.mr21 {
  margin-right: 21px;
}

.page-head-slogan {
  font-size: 54px;
  text-transform: uppercase;
  color: #fff;
  padding: 30px 20px;
  border: 1px solid rgb(231, 225, 225);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
}

section {
  padding: 65px 0;
}

.text-block {
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 28px;
}

.section-text {
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  color: #4d4943;
}

.text-block-line {
  margin: 45px auto 55px;
  width: 70px;
  border: 3px solid #f1ad1d;
}

.text-block-logo {
  margin: 0 auto;
  display: block;
}

.menu-top {
  text-transform: uppercase;
}

.menu-top-logo {
  font-size: 40px;
  color: #f1ad1d;
  display: inline-block;
  margin-right: 240px;
}

.menu-top-navigation {
  display: inline-block;
}

.menu-top-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: #3d3d3d;
  margin-right: 48px;
  display: inline-block;
}

.menu-top-link:hover {
  color: #f1b128;
}

.menu-top-line {
  margin-top: 30px;
  border: 3px solid #f1b128;
}

.section-head-slogan {
  text-align: center;
  font-size: 22px;
  line-height: 18px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 28px;
}

.photo-block {
  display: inline-block;
  width: 590px;
}

.photo-block-text {
  display: inline-block;
  width: 560px;
}

.photo-block-set {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 270px;
  height: 148px;
  display: inline-block;
}

.photo-block1 {
  background-image: url("../img/photo1.png");
}

.photo-block2 {
  background-image: url("../img/photo2.png");
}

.photo-block3 {
  background-image: url("../img/photo3.png");
}

.photo-block4 {
  background-image: url("../img/photo4.png");
}

.photo-click {
  font-size: 14px;
  line-height: 12px;
  color: #fff;
  padding: 14px 12px;
  margin: 95px 0 0 15px;
  background-color: #333;
  display: inline-block;
}

.photo-click:hover {
  font-size: 14px;
  line-height: 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.photo-block-title {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #333;
}

.yellow-title {
  color: #f1ad1d;
}

.photo-block-p {
  display: inline-block;
  margin-top: 19px;
  font-size: 14px;
  line-height: 18px;
  color: #505050;
}

.yellow-click {
  padding: 22px 27px 24px;
  background: #f1ad1d;
  font-weight: bold;
  font-size: 14px;
  line-height: 12;
  color: #fff;
  border: 1px solid #f1ad1d;
}

.yellow-click:hover {
  color: #f1ad1d;
  background: #fff;
}


.speed-photo {
  background: url("../img/speed-photo.png");
  background-size: cover;
  text-align: center;

}

.speed-title {
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFF;
  padding-top: 150px;
  padding-bottom: 60px;
}

.yellow-speed-title {
  color: #f1ad1d;

}

.speed-line {
  margin-bottom: 150px;
  width: 70px;
  border: 3px solid #f1b128;
  display: inline-block;
}

.secret-title,
.gold-secret {
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  margin-top: 50px;
  margin-bottom: 30px;
}

.secret-photo {
  width: 191px;
  height: 178px;
  display: inline-block;
}

.secret-photo1 {
  background-image: url("../img/secret1.png");
}

.secret-photo2 {
  background-image: url("../img/secret2.png");
}

.secret-photo3 {
  background-image: url("../img/secret3.png");
}

.secret-photo4 {
  background-image: url("../img/secret4.png");
}

.secret-photo5 {
  background-image: url("../img/secret5.png");
}

.secret-photo6 {
  background-image: url("../img/secret6.png");
}

.secret-photo7 {
  background-image: url("../img/secret7.png");
}

.secret-photo8 {
  background-image: url("../img/secret8.png");
}

.secret-photo9 {
  background-image: url("../img/secret9.png");
}

.secret-photo10 {
  background-image: url("../img/secret10.png");
}

.secret-photo11 {
  background-image: url("../img/secret11.png");
}

.secret-photo12 {
  background-image: url("../img/secret12.png");
}

.secret-photo-name {
  font-size: 14px;
  line-height: 12px;
  color: #fff;
  padding: 15px 25px;
  margin: 125px 0 0 15px;
  background-color: #333;
  display: inline-block;
}

.secret-photo-name:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.gold-click-icon {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #FFF;
  background-color: #333;
  display: inline-block;
  padding: 30px 70px;
  margin-left: 19px;
}

.gold-icon1 {
  vertical-align: middle;
  margin: 55px 110px 20px;
}

.gold-icon2 {
  vertical-align: middle;
  margin: 55px 120px 20px;
}

.gold-icon3 {
  vertical-align: middle;
  margin: 55px 130px 20px;
}

.gold-text {
  vertical-align: top;
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #505050;
  width: 255px;
  margin: 0 17px 0;

}

.gold-line-yellow {
  display: inline-block;
  border: 3px solid #f1b128;
  width: 70px;
}

.line-gold1 {
  margin: 55px 100px 20px;
}

.line-gold2 {
  margin: 55px 105px 20px;
}

.line-gold3 {
  margin: 55px 115px 20px;
}
